#icons-clientes{
    padding-top: 6px;
    width: 80px;
    margin: 0 auto;
}

#icon-desenrolado{
    width: 40px;
}

#icons-clientes2{
    width: 75px;
    margin: 0 auto;
}

#img-perfil{
    border-radius:50%
}